alabaster==0.7.8
asn1crypto==0.22.0
astroid==1.5.3
Babel==2.4.0
backports-abc==0.5
backports.functools-lru-cache==1.4
backports.shutil-get-terminal-size==1.0.0
basemap==1.0.7
cairocffi==0.8.0
certifi==2022.12.7
cffi==1.9.1
chardet==3.0.4
colorspacious==1.1.0
configparser==3.5.0
cryptography==1.9
cycler==0.10.0
decorator==4.1.2
docutils==0.14
enum34==1.1.6
funcsigs==1.0.2
functools32==3.2.3.post2
idna==2.5
imagesize==0.7.1
ipaddress==1.0.17
ipython==5.1.0
ipython-genutils==0.2.0
isort==4.2.15
Jinja2==2.9.6
keyring==10.4.0
keyrings.alt==2.2
lazy-object-proxy==1.3.1
MarkupSafe==1.0
matplotlib==2.1.1+711.g40eb83f3e
mccabe==0.6.1
mock==2.0.0
networkx==2.0
nose==1.3.7
numpy==1.13.3
numpydoc==0.7.0
olefile==0.44
pathlib2==2.3.0
pbr==2.0.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.1.1
ply==3.9
prompt-toolkit==1.0.14
pycparser==2.17
pycrypto==2.6.1
Pygments==2.2.0
pygobject==3.24.1
pylint==1.7.5
PyOpenGL==3.1.0
pyparsing==2.2.0
Pyrex==0.9.9
python-dateutil==2.6.1
pytz==2017.3
pyxdg==0.25
requests==2.18.1
roman==2.0.0
scandir==1.5
SecretStorage==2.3.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
Sphinx==1.5.6
subprocess32==3.2.7
tornado==4.5.1
traitlets==4.3.2
urllib3==1.21.1
wcwidth==0.1.7
wrapt==1.10.11
wxPython==3.0.2.0
wxPython-common==3.0.2.0
xlwt==0.7.5
